.is_hidden {
    display: none;
}

.margin_auto {
    margin-left: auto;
    margin-right : auto
}

html *
{
   font-size: 1em !important;
   color: #000 !important;
   font-family: Josefin Sans !important;
}