.is_hidden {
    display: none;
}

.margin_auto {
    margin-left: auto;
    margin-right : auto;
}

html *
{
   font-size: 1em;
   color: #000 !important;
   font-family: Josefin Sans !important;
}

.g-2 div:nth-child(odd) { padding-left: 0; }
.g-2 div:nth-child(even) { padding-right: 0; }

.card-header {
    background-color: rgba(246, 246, 246, 0.8);
}